body {
  background-color: #06011F;
  color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */

#root {
  margin: 0 auto;
  width: 100%;
}

/* Landing Page Navigation */

.nav-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 50%;
  vertical-align: middle;
}

.nav-link {
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 10px 25px;
}

.nav-link:hover {
  background-color: #eee7f9;
}

.nav-link:visited {
  background-color: #eee7f9;
}

#welcome-banner {
  text-align: center;
} 

#welcome-banner a {
  text-decoration: none;
}

/* Forms */

header {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.link {
  background-color: #eee7f9;
  border: 0px;
  border-radius: 5px;
  color: #673ab7;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 20px;
  padding: 5px 15px;
}

.link:focus {
  outline: 0; 
}

.link:hover {
  background-color: #673ab7;
  color: #eee7f9;
}

.form-link-container {
  margin: 10px 0;
}

input {
  font-size: 18px;

  margin: 15px 0 7.5px 0;
  min-height: 25px;

  max-width: 50%;  
  min-width: 35%;
}

/* Log In */

